ter#Navbar {
    border-style: solid;
    border-width: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #5CE0C6;
}
#Navbar a{
  border-style: solid;
  border-width: 1px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #56615F;
}

.Klopzo_Korner {
    border-style: dotted;
    border-width: 1;
}
.Klopzo_Korner p {
    border-style: solid;
    border-width: 3;
    float: left;
    margin: center;
    background-color: white;
}
.Klopzo_Korner img {
    height: 150px;
}
