/* General tags */
body {
    background-image: url("images/background.png");
    background-size: 100%;
}
p {
    font-size: 30px;
}
ul {
    text-align: left;
    font-size: 25px
}
a {
    font-size: 25px;
}
button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
button:hover {
    background-color: RoyalBlue;
}

/* General classes & ids */
.images {
    width: 50%;
}
#left {
    float: left;
}
#right {
    float: right;
}

/* Main content */
.main img{
    height: 60;
}
.main {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    background-color: white;
}

/* Klopzo Korner */
.Klopzo_Korner {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 25%;
}
.Klopzo_Korner p {
    font-size: 35px;
    border-style: solid;
    border-width: 2;
    border-color: black;
    border-radius: 15px;
    background-color: white;
}
.Klopzo_Korner img {
    width: 200px;
}

/* Navigation */
#Navbar {
    border-style: solid;
    border-width: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #5CE0C6;
    text-align: center;
}
#Navbar img {
    float: left;
    height: 100%
}
#Navbar a{
    border-style: solid;
    border-width: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #362B27;
    text-decoration: none;
    color: white;
    transition: 500ms;
}
#Navbar a:hover {
    background-color: #E07F5C;
    color: black;
    font-size: 25px;
}

/* Starting here is page-specific code*/

    /* Blog */
.blog summary{
    background-color: #E07F5C;
    font-size: 30px;
}
.blog details{
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

    /* projects */
.proj {
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #8B7168;
    text-decoration: none;
    color: white;
    transition: 500ms;
}
.proj:hover {
    background-color: #6AA196;
    color: black;
}