#Navbar {
    border-style: solid;
    border-width: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #5CE0C6;
}
#Navbar a{
  border-style: solid;
  border-width: 1px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #56615F;
}

.Klopzo_Korner p{
    border-style: solid;
    border-width: 3;
    align: left;
    background-color: white;
}
.Klopzo_Korner img{
    scale: 15;
    align: right;
}
